.start-page {
    position: absolute;
    width: 100vw;
    height: 100dvh;
    background: #b7b7b7d1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.start-form {
    width: 500px;
    height: 300px;
    background: #f9f9f9;
    border-radius: 5px;
    filter: drop-shadow(2px 4px 6px black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-page .start-form input {
    width: 190px;
}