.card {
  position: relative;
  width: 90px;
  height: 120px;
  border-radius: 12px;
  color: white;
  font-size: 36px;
  line-height: 110px;
  font-weight: bold;
  margin: 0 15px;
  box-shadow: 2px 4px 20px 0 lightgray;
  cursor: pointer;
  transition: transform .5s ease;
  user-select: none;
}

.card:hover {
  transform: scale(1.1);
}

.card.blue {
  background: #0466D2;
  border: 3px solid #045CBD;
}

.card.green {
  background: #149C37;
  border: 3px solid #2BA64B;
}

.card.yellow {
  background: #FDC72F;
  border: 3px solid #E4B32A;
}

.card.grey {
  color: #A0A0A0;
  background: #F7F7F7;
  border: 3px solid #DEDEDE;
}

.card.selected1 {
  transform: translate(0px, -30px) rotate(6deg) scale(1.1);
}

.card.selected2 {
  transform: translate(0px, -31px) rotate(-4deg) scale(1.1);
}

.card.selected3 {
  transform: translate(0px, -35px) rotate(3deg) scale(1.1);
}

.card.selected4 {
  transform: translate(0px, -40px) rotate(-8deg) scale(1.1);
}

.card.selected5 {
  transform: translate(0px, -38px) rotate(8deg) scale(1.1);
}

.label-small {
  position: absolute;
  font-size: 14px;
  line-height: 28px;
  top: 0;
  left: 10px;
}

@media screen and (max-width: 1600px) {
  .card {
    width: 73px;
    height: 110px;
    margin: 0 8px;
  }
}
