.card {
  position: relative;
  width: 90px;
  height: 120px;
  border-radius: 12px;
  color: white;
  font-size: 36px;
  line-height: 110px;
  font-weight: bold;
  margin: 0 15px;
  box-shadow: 2px 4px 20px 0 lightgray;
  cursor: pointer;
  transition: transform .5s ease;
  user-select: none;
}

.card.blue {
  background: #0466D2;
  border: 3px solid #045CBD;
}

.card.green {
  background: #149C37;
  border: 3px solid #2BA64B;
}

.card.yellow {
  background: #FDC72F;
  border: 3px solid #E4B32A;
}

.card.grey {
  color: #A0A0A0;
  background: #F7F7F7;
  border: 3px solid #DEDEDE;
}

.card.selected1 {
  transform: translate(0px, -30px) rotate(5deg);
}

.card.selected2 {
  transform: translate(0px, -31px) rotate(-4deg);
}

.card.selected3 {
  transform: translate(0px, -28px) rotate(3deg);
}

.label-small {
  position: absolute;
  font-size: 14px;
  line-height: 28px;
  top: 0;
  left: 10px;
}
