.card {
  position: relative;
  width: 90px;
  height: 120px;
  border-radius: 12px;
  color: white;
  font-size: 36px;
  line-height: 110px;
  font-weight: bold;
  margin: 0 15px;
  box-shadow: 2px 4px 20px 0 lightgray;
  cursor: pointer;
  transition: transform 0.5s ease;
  user-select: none;

  &:hover {
    transform: scale(1.1);
  }
  .blue {
    background: #0466d2;
    border: 3px solid #045cbd;
  }

  .green {
    background: #149c37;
    border: 3px solid #2ba64b;
  }

  .yellow {
    background: #fdc72f;
    border: 3px solid #e4b32a;
  }

  .grey {
    color: #a0a0a0;
    background: #f7f7f7;
    border: 3px solid #dedede;
  }

  .selected1 {
    transform: translate(0px, -30px) rotate(6deg) scale(1.1);
  }

  .selected2 {
    transform: translate(0px, -31px) rotate(-4deg) scale(1.1);
  }

  .selected3 {
    transform: translate(0px, -35px) rotate(3deg) scale(1.1);
  }

  .selected4 {
    transform: translate(0px, -40px) rotate(-8deg) scale(1.1);
  }

  .selected5 {
    transform: translate(0px, -38px) rotate(8deg) scale(1.1);
  }
}

.label-small {
  position: absolute;
  font-size: 14px;
  line-height: 28px;
  top: 0;
  left: 10px;
}

@media screen and (max-width: 1600px) {
  .card {
    width: 73px;
    height: 110px;
    margin: 0 8px;
  }
}
